<div id="liveAlertPlaceholder">
  <div *ngIf="registrationSuccess" class="alert alert-success alert-dismissible" role="alert">
    <div>Successfully Registered!</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()" #localForm="ngForm">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" 
      formControlName="email" [class.is-invalid]="(localForm.submitted || loginForm.get('email')?.touched) && loginForm.get('email')?.invalid">
    <label for="floatingEmail">Email address</label>
    
    <div class="invalid-feedback">
      <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</div>
      <div *ngIf="loginForm.get('email')?.hasError('email')">Not a valid email format.</div>
    </div>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" 
      formControlName="password" [class.is-invalid]="(localForm.submitted || loginForm.get('password')?.touched) && loginForm.get('password')?.invalid">
    <label for="floatingPassword">Password</label>

    <div class="invalid-feedback">
      <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary me-3">Login</button>
  <a routerLink="/registration">or create an account</a>
</form>