<h1>Registration</h1>

<form [formGroup]="registrationForm" (ngSubmit)="registerUser()" #localForm="ngForm">
  <div class="accordion mb-3" id="accordionExample">
    <!-- registration form part 1 -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. Account details
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="form-floating mb-3">
            <!-- assign Bootstrap class `is-invalid` by setting it to true, if 2 conditions are met:
              (1) the localForm is submitted
              (2) and the form control doesn't pass all validations -->
            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" 
              formControlName="email" [class.is-invalid]="(localForm.submitted || registrationForm.get('email')?.touched) && registrationForm.get('email')?.invalid"
              [class.is-valid]="registrationForm.get('email')?.valid">
            <label for="floatingEmail">Email address</label>
            
            <!-- Bootstrap displays the div below if `is-invalid` is set to true -->
            <div class="invalid-feedback">
              <!-- the appropriate message is displayed to let the user know
                if any of the validations failed -->
              <div *ngIf="registrationForm.get('email')?.hasError('required')">Email required.</div>
              <div *ngIf="registrationForm.get('email')?.hasError('email')">Invalid email format.</div>
              <div *ngIf="registrationForm.get('email')?.hasError('valueExists')">Email already registered.</div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingUsername" placeholder="name" 
              formControlName="username" [class.is-invalid]="(localForm.submitted || registrationForm.get('username')?.touched) && registrationForm.get('username')?.invalid"
              [class.is-valid]="registrationForm.get('username')?.valid">
            <label for="floatingUsername">Username</label>

            <div class="invalid-feedback">
              <div *ngIf="registrationForm.get('username')?.hasError('required')">Username required.</div>
              <!-- access the builtin minlength validator's required length programmatically -->
              <div *ngIf="registrationForm.get('username')?.hasError('minlength')">Username must be at least 
                {{this.registrationForm.get('username')?.errors?.['minlength'].requiredLength}} characters long.</div>
                <div *ngIf="registrationForm.get('username')?.hasError('valueExists')">Username already exists.</div>
              </div>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" 
              formControlName="password" [class.is-invalid]="(localForm.submitted || registrationForm.get('password')?.touched) && registrationForm.get('password')?.invalid"
              [class.is-valid]="registrationForm.get('password')?.valid">
            <label for="floatingPassword">Password</label>

            <div class="invalid-feedback">
              <div *ngIf="registrationForm.get('password')?.hasError('required')">Password required.</div>
              <div *ngIf="registrationForm.get('password')?.hasError('minlength')">Password must be at least 
                {{this.registrationForm.get('password')?.errors?.['minlength'].requiredLength}} characters long.</div>
            </div>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="ConfirmPassword" 
              formControlName="confirmPassword" [class.is-invalid]="(localForm.submitted || registrationForm.get('confirmPassword')?.touched) && 
              (registrationForm.get('confirmPassword')?.invalid || registrationForm.errors?.['mismatchPassword'])"
              [class.is-valid]="registrationForm.get('confirmPassword')?.valid">
            <label for="floatingConfirmPassword">Confirm password</label>
          
            <div class="invalid-feedback">
              <div>Type in password again. 
                <span *ngIf="registrationForm.errors?.['mismatchPassword']">
                  Passwords doesn't match.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- registration form part 2 -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2. Exchange languages
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="mb-3">
            <app-exchange-languages [registrationForm]="registrationForm"
                [languagesFormArray]="teachLanguagesFormArray"
                [exchangeableLanguages]="exchangeableLanguages"
                [languageProficiencies]="languageProficiencies"
                [inputLanguageType]="InputLanguageType.Teach"
                [selectedLanguageIds]="selectedLanguageIds"
                (selectedLanguageIdsChange)="updateSelectedLanguageIds($event)">
            </app-exchange-languages>
            
            <app-exchange-languages [registrationForm]="registrationForm"
                [languagesFormArray]="learnLanguagesFormArray"
                [exchangeableLanguages]="exchangeableLanguages"
                [languageProficiencies]="languageProficiencies"
                [inputLanguageType]="InputLanguageType.Learn"
                [selectedLanguageIds]="selectedLanguageIds"
                (selectedLanguageIdsChange)="updateSelectedLanguageIds($event)">
            </app-exchange-languages>
          </div>
        </div>
      </div>
    </div>

    <!-- registration form part 3 -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. Let others know more about you
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="mb-3">
            <h5><label class="form-label">Gender</label></h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="male" id="genderRadioMale" formControlName="gender" checked>
              <label class="form-check-label" for="genderRadioMale">Male</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="female" id="genderRadioFemale" formControlName="gender">
              <label class="form-check-label" for="genderRadioFemale">Female</label>
            </div>
          </div>

          <div class="mb-3">
            <h5><label for="inputDob" class="form-label">Date of birth</label></h5>
            <input type="date" class="form-control" id="inputDob" formControlName="dob"
            [class.is-invalid]="(localForm.submitted || registrationForm.get('dob')?.touched) && registrationForm.get('dob')?.invalid">

            <div class="invalid-feedback">
              <div *ngIf="registrationForm.get('dob')?.hasError('required')">Date of birth required.</div>
              <div *ngIf="registrationForm.get('dob')?.hasError('invalidDob')">Time travellers not allowed.</div>
            </div>
          </div>

          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a self introduction here" id="floatingSelfIntroduction" style="height: 100px"></textarea>
            <label for="floatingSelfIntroduction">Self Introduction</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="localForm.submitted && registrationForm.invalid" class="alert alert-danger" role="alert">
    Failed to submit form. Please expand the form to resolve the indicated issues.
  </div>

  <button type="submit" class="btn btn-primary justify-content-md-center">Submit</button>
</form>